<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <form>
                <div class="form-group">
                    <label for="ip">Input IP: </label>
                    <input type="text" id="ip" name="ip" class="form-control" ip required ngModel>
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" id="email" name="email" class="form-control" email required ngModel>
                </div>
            </form>
        </div>
    </div>
</div>


